/* Brand Design Color */
html { 
    font-size: 16px; 
    scroll-behavior: smooth;

}

.font-light {
    color: #F6F4F1;
}
.font-dark {
    color: #11365C;
}

.background-light {
    background-color: #F6F4F1;
}
.background-dark {
    background-color: #11365C;
}


/* General */
a, p, span, li {
    color: black;
    font-size: 1rem;
    font-family: 'Mukta Vaani', sans-serif;
}

h1 {    
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 400;
}

h2 {    
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

h3 {    
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 500;
}

/*--------------------------------------------------------------
   NAVIGATION BAR
--------------------------------------------------------------*/

/* Navigation Bar -- top */
#navigation-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

#navigation-bar nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 12vh;
    z-index: 1030;
    padding-top: 30px;
}

#navigation-bar header {
    padding: 0;
}

/* figma */
#navigation-bar .navbar-brand span {
    /* padding-left: 50px;
    padding-right: 30px;
    margin-top: 20px;*/
    text-shadow: 0.5px 0.5px #647B5E;

    width: 42px;
    height: 19px;
    padding-left: 4vw;
    margin-top: 5vh;
    margin-right: 30px;
    font-family: 'Nunito', sans-serif;
    color: #F7F5F5;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 19px;

}

#navigation-bar ul.navbar-nav  {
    margin-right: 2vw;
}


#navigation-bar .navbar-nav li {
    padding: 0 10px 0px 10px;
}

#navigation-bar .navbar-nav li.active {
    font-weight: 300;
    color: rgb(9, 30, 51);
}


#navigation-bar .navbar-nav li a {
    color: #F7F5F5;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-shadow: 0.5px 0.5px #647B5E;
    font-size: 1rem;
}

#navigation-bar .navbar-nav li a:hover {
    font-weight: 300;
    color: #F7F5F5!important;
    padding-bottom: 1vh;
}

#navigation-bar .navbar-nav i {
    color: #F7F5F5!important;
}

/* Navigation Bar -- scrolled */
#navigation-bar nav.scrolled {
    color: black;
    background-color: #F7F5F5;
    box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
}

#navigation-bar .navbar-brand span.scrolled {
    color: black;
    text-shadow: 0.5px 0.5px #F7F5F5;
}

#navigation-bar .navbar-nav li a.scrolled {
    color: black;
    text-shadow: 0.5px 0.5px #F7F5F5;
}

#navigation-bar .navbar-nav li a.scrolled:hover {
    font-size: 1rem;
    color: rgb(3, 9, 15)!important;
    padding-bottom:1vh;
}

#navigation-bar .navbar-nav i.scrolled {
    color: #11365C!important;
}

/* Nav Link Animation*/
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

/* Nav Link Animation*/
div.borderXwidth a.scrolled:before, div.borderXwidth a.scrolled:after
{
    background: #11365C;
}


/*--------------------------------------------------------------
	HOME PAGE
--------------------------------------------------------------*/

/* home */

#home-page {
    background-color: #F7F6FA;
}

#home-page .home-section {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    z-index: 0;
    background-size: cover;
    height: 100vh; 
}

/* figma */
.title-size-1 {
    /* font-weight: 400;
    font-size: 15px;
    font-family: 'Athiti', sans-serif;
    text-shadow: 0.5px 1px #647B5E; */

    position: absolute;
    width: 50vw;
    height: 19px;
    margin-left: 13vw;
    margin-top: 41vh;

    font-family: Nunito;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 19px;

}


/* figma */
.title-size-2 {
    /* font-weight: 400;
    font-size: 35px;
    font-family: 'Muli', sans-serif;
    text-shadow: 0.5px 1px #647B5E; */

    position: absolute;
    width: 60vw;
    height: 45px;
    margin-left: 13vw;
    margin-top: 31.4vh;


    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 2.7rem;
    line-height: 45px;

    

}


.title-caption {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 5vh;
}

/* figma */
#home-screen a button {
    /* display: inline-block;
    margin: 5vh 1vw;
    width: 18vw;
    height: 7vh;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 13px -6px rgb(41, 27, 5);
    color: #F6F4F1;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    background-color: rgba(112, 133, 145, 0.5); */

    /* background-color: rgba(134, 111, 111, 0.5); */
    /* outline: none;
    transition: background-color 0.5s ease; */

    position: absolute;
    width: 14.8vw;
    height: 6.7vh;
    margin-left: 13vw;
    margin-top: 53vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    background: #FF8B38;
    border-radius: 9px;
    color: #F7F5F5;
    border: 0px;

    font-family: "Avenir", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;

}

/* figma */
#home-screen a:nth-of-type(2) button {
    position: absolute;
    margin-left: 31vw;
    background: #8B6CF3;
    border-radius: 9px;
}

#home-screen a button:hover {
    /* background-color: rgba(184, 233, 206, 0.76); */
    background-color: rgba(91, 178, 218, 0.514);
}

#home-screen a button:active { 
    border-style: outset;
}

#home-screen img {
    position: absolute;
    width: 48.7vw;
    height: 68.5vh;
    left: 46.8vw;
    margin-top: 27vh;

}

#footer {
    color: #F6F4F1;
    text-align: center;
    background-color: rgb(33, 37, 41);
    padding: 2vh 0vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}


/*--------------------------------------------------------------
    HOME PAGE - Our Project
--------------------------------------------------------------*/
#our-project {
    background-color: #F7F6FA;
    position: relative;
    padding-top: 10vh;
}

#our-project h2 {
    padding: 13.5vh 9.5vw 3vh 9.6vw;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 45px;

}

#our-project .svg svg {
    position: absolute;
    margin-top: 31.7vh;
    margin-left: 61.7vw;
    width: 336px;
    height: 306px;
    top: 0;
}

#our-project .pattern svg {
    position: absolute;
    right: 0;
    top: 15vh;
}

#our-project p {
    padding: 0vh 0vw 2vh 9.6vw;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 30px;
    color: #1F1F1F;
    width: 48.2vw;

    transform: translateY(5vh);
    transition: opacity .3s ease-out .2s, transform .5s ease-in .2s;
    will-change: opacity, transform;

    color: #1F1F1F;
}

#our-project p.revealOnScroll {
    opacity: 0;

}

#our-project p.revealOnScroll.revealed {
    opacity: 1; 
    transform: translateY(0);
}

#why-mirror {
    position: relative;
}

#why-mirror h2 {
    padding: 40vh 9.5vw 3vh 9.6vw;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 45px;
}

#why-mirror .reason {
    position: relative;
}


#why-mirror .reason:nth-of-type(1) {
    padding: 4vh 0vw 0vh 9.6vw;
}

#why-mirror .reason:nth-of-type(2) {
    padding: 20vh 0vw 0vh 50.7vw;
}

#why-mirror .reason:nth-of-type(3) {
    padding: 32vh 0vw 0vh 33.6vw;
}

#why-mirror .reason .dot {
    width: 73px;
    height: 73px;
    background: rgba(55, 57, 182, 0.2);
    border-radius: 50%;
    display: inline-block;
}

#why-mirror .reason .dot-label {
    position: absolute;
    color:black;

    font-family: "Avenir", sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    color: #FFFFFF;

    margin: -8.5vh 0vw 0vh 1.9vw;
}

#why-mirror .reason h3 {
    position: absolute;
    display: block;
    margin: -5.5vh 0vw 0vh 4vw;

    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 38px;
    color: #000000;
}

#why-mirror .reason p {
    width: 45.9vw;
    margin: 2vh 0vw 0vh 6vw;

    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;

    color: #000000;
}

#why-mirror .reason:nth-of-type(2) p{
    width: 30.9vw;

}

#why-mirror .svg svg {
    position: absolute;
    margin-left: 0vw;
    width: 45.3vw;
    height: 63.6vh;
    top: 0;
    margin-top: 80vh;
}

#why-mirror .pattern svg {
    position: absolute;
    left: 0;
    top: 95vh;
}

#our-product h2 {
    padding: 42vh 9.5vw 3vh 9.6vw;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 45px;
}

#our-product p {
    padding: 0vh 9.5vw 3vh 9.6vw;
}


#meet-our-team {
    position: relative;
}

#meet-our-team h2 {
    padding: 42vh 9.5vw 3vh 9.6vw;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 45px;
}

#meet-our-team .team-member {
    padding: 5vh 9.5vw 5vh 9.6vw;
    position: relative;
    display: inline-block;
    width: 45%;
    height: 30vh;
}

#meet-our-team .team-member img {
    width: 9.2vw;
    height: 9.2vw;
    border-radius: 50%;
}

#meet-our-team .team-member h3 {
    position: absolute;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 31px;
    color: #000000;
    margin-left: 13vw;
    top: 5vh;
    margin-top: 5vh;
}

#meet-our-team .team-member h4 {
    position: absolute;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 31px;
    color: #000000;
    top: 5vh;
    margin-left: 13vw;
    margin-top: 10vh;
}

#meet-our-team .team-member h4:nth-of-type(2) {
    margin-top: 14vh;
}

#meet-our-team .pattern svg {
    position: absolute;
    right: 0;
    top: 5vh;
    width: 85vw;
}


#sponsorship-and-credit {
    margin-bottom: 20vh;
}

#sponsorship-and-credit h2 {
    padding: 42vh 9.5vw 0vh 9.6vw;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 45px;
}

#sponsorship-and-credit p {
    margin: 5vh 0vw 5vh 9.6vw;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 30px;
    color: #1F1F1F;

}

#sponsorship-and-credit a {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 30px;
    color: #0091EA;

}

#sponsorship-and-credit .name-card {
    margin-top: 3vh;
}

#sponsorship-and-credit .name-card p {
    margin: 2vh 19.2vw;
}

/* 
.project-section ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0vh -5vw 0vh 0vw;
}

.project-section li {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 1vh 1vw 2vh 0vw;
    background-color: rgba(240, 202, 217, 0.116);
    padding: 5vh 2vw;
    border-radius: 5px;
    color: rgba(0, 14, 53, 0.63);

    flex-basis: 23%;
    display: block;
    flex-grow: 0;
    align-items: stretch;
    align-content: space-between;
}

.project-section li:nth-of-type(4n) {
    margin: 1vh 0vw 2vh 1vw;
}


.project-section li h3 {
    color: rgb(0, 10, 29);
    font-size: 1.6rem;
}



.project-section li h4 {
    color: rgba(0, 14, 53, 0.76);
    font-size: 1rem;
    margin: 0vh 0vw 0vh 0vw;
}

.project-section li h4:nth-of-type(1) {
    margin: 0vh 0vw 0.5vh 0vw;
}


.project-section li img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
    margin: 0vh 0vw 3vh 0vw;
    opacity: 1;

} */
/* 
.supporting-img img {
    display: inline-block;
    width: 80%;
    margin: -90vh 0vw 5vh 35vw;
    opacity: 0;
    transform: translateX(10vw);
    transition: opacity .7s ease-out 0s , transform .5s ease-in 0.2s;
    will-change: opacity, transform;
}

.supporting-img:nth-of-type(2) img {
    margin: 5vh 0vw -15vh -10vw;
}

.supporting-img.revealed img {
    opacity: 0.2;
    transform: translateX(0);
} 

#meet-our-team.project-section, #contact-us {
    padding: 17vh 15vw 18vh 15vw;

}


#sponsorship-and-credit.project-section {
    padding: 5vh 15vw 5vh 15vw;

}

#sponsorship-and-credit.project-section a {
    font-style: italic;
    font-size: 1.3rem;
    color: rgba(1, 37, 136, 0.76);
} */







  



 